@using GainsLab.Application.DTOs
@using GainsLab.Application.DTOs.Muscle
@using GainsLab.Application.Interfaces.DataManagement.Gateway
@using GainsLab.Application.Interfaces.Sync


@using GainsLab.Domain.Interfaces
@attribute [StreamRendering]

<h3>MuscleDisplayComponent</h3>

<p>
    @if (_muscles == null)
    {
        @if (_error)
        {
            <p> @_errorMessage</p>
        }
        else
        {
            <p>
                <em>Loading...</em>
            </p>
        }

       
    }
    else
    {
        <table class="tableMuscle">
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Desc</th>
                <th>Section</th>
                <th>Antagonists</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in _muscles)
            {
                <tr>
                    <td>@i</td>
                    <td>@m.Name</td>
                    <td>@GetDescription(m)</td>
                    <td>@m.BodySection</td>
                    <td>@GetAntagonist(m)</td>
                    <td>@m.UpdatedAtUtc</td>
                </tr>
                i++;
            }
            </tbody>
        </table>
    }
</p>


@code
{
    private MuscleRecord[]? _muscles = null;
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private IClock Clock { get; set; } = default!;
    [Inject] private IMuscleGateway SyncClient { get; set; } = default!;
    
    
    private int i =1;
    private bool _error = false;
    private string? _errorMessage = null;

    protected override Task OnInitializedAsync()
    {
        Logger.Log("HomePage", $"Getting all equipments");
        
        base.OnInitializedAsync();

        return GetEquipments();


    }

    private async Task GetEquipments()
    {
        _muscles = null;

        var result = await SyncClient.GetAllMusclesAsync();
        if (!result.Success)
        {
            _muscles = null;
            _error = true;
            _errorMessage = result.GetErrorMessage();
            return;
        }
//todo
       // _muscles = !result.HasValue ? null : result.Value.ToArray();
    }

    private string GetDescription(MuscleRecord eq)
    {
        return eq.Descriptor?.Content ?? "Description not found";
    }

    private string GetAntagonist(MuscleRecord muscleRecord)
    {
        if (muscleRecord.Antagonists.Count == 0) return "None";
        return string.Join(',', muscleRecord.Antagonists.Select(a=>a.Antagonist.Name));
    }
}

