
@rendermode InteractiveServer
@using GainsLab.Application.Results
@using GainsLab.Contracts
@using GainsLab.Contracts.Dtos.Delete.Outcome
@using GainsLab.Contracts.Dtos.GetDto
@using GainsLab.Contracts.Dtos.ID
@using GainsLab.Domain.Interfaces
@using GainsLab.Infrastructure.Caching.Registry
@using GainsLab.WebLayer.Model
@using GainsLab.WebLayer.Model.Notification.Confirmation

@using GainsLab.WebLayer.Model.Notification

<p>
    @if (_muscles == null)
    {
        @if (_error)
        {
            <p> @_errorMessage</p>
        }
        else
        {
            <p>
                <em>Loading...</em>
            </p>
        }

       
    }
    else
    {
        <table class="tableMuscle">
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Desc</th>
                <th>Section</th>
                <th>Antagonists</th>
                <th>AntagonistsOf</th>
                <th>Date Updated</th>
                <th>Edit</th>
                <th>Remove</th>
                
            </tr>
            </thead>
            <tbody>
            
            @{
                var index = 1;
            }
            
            @foreach (var eq in _muscles)
            {



                <tr>
                    <MuscleTableLine Index="index"
                                     Id="@eq.Id"
                                     Name="@eq.Name"
                                     Description="@GetDescription(eq)"
                                     BodySection="@eq.BodySection.ToString()"
                                     Antagonist="@GetAntagonists(eq.Antagonists).ToList()"
                                     AntagonistOf="@GetAntagonistOf(eq)"
                                     UpdatedAtUtc="@eq.UpdatedAtUtc.ToString()"
                                     EditLink="@GetEditLink(eq)"
                                     DeleteRequested="DeleteMuscleAsync">
                    </MuscleTableLine>

                </tr>
                index++;
            }
            </tbody>
        </table>
    }
</p>


@code
{
    private IReadOnlyList<MuscleGetDTO>? _muscles = null;
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private IClock Clock { get; set; } = default!;
    [Inject] private MuscleRegistry Repo { get; set; } = default!;
    [Inject] private IToast Toast { get; set; } = default!;
    [Inject] private IConfirmDialog ConfirmDialog { get; set; } = default!;
    
    
    private bool _error = false;
    private string? _errorMessage = null;

    protected override Task OnInitializedAsync()
    {
        Logger.Log("HomePage", $"Getting all Muscle");
        
        base.OnInitializedAsync();

        return GetMuscles();


    }

    private async Task GetMuscles()
    {
        _muscles = null;

        var result = await Repo.GetAllAsync();
        if (!result.Success)
        {
            _muscles = null;
            _error = true;
            _errorMessage = result.GetErrorMessage();
            return;
        }

        _muscles = !result.HasValue ? null : result.Value;
    }

    private string GetDescription(MuscleGetDTO eq)
    {
        return eq.Descriptor?.content ?? "Description not found";
    }

    private string GetAntagonist(MuscleGetDTO muscleRecord)
    {
        if (muscleRecord.AntagonistIds == null || !muscleRecord.AntagonistIds.Any()) return "None";
      //  IEnumerable<MuscleGetDTO> antagonist = GetAntagonists(muscleRecord.AntagonistIds.ToHashSet());
        var antagonist = GetAntagonists(muscleRecord.Antagonists);
        return string.Join(',', antagonist);
    }

    private IEnumerable<string> GetAntagonists(IReadOnlyList<MuscleRefDTO>? antagonists)
    {
        return antagonists != null ? antagonists.Select(a => a.Name) : new List<string>();
    }

    private List<string> GetAntagonistOf(MuscleGetDTO eq)
    {
        if (_muscles == null || !_muscles.Any()) return new();
        
        return _muscles.Where(m =>m.AntagonistIds !=null && m.AntagonistIds.Contains(eq.Id)).Select(m=>m.Name).ToList();
    }
    
    private Link? GetEditLink(MuscleGetDTO eq) => new Link { Text = $" Edit: {eq.Name}", Page = $@"muscles/{eq.Id}" };

    
    private async Task DeleteMuscleAsync(Guid MuscleId)
    {

        Logger.Log(nameof(MuscleDisplayComponent), $"Deleting Muscle {MuscleId}");
        
        if (_muscles is null)
        {
            Toast.Error("No Muscle Found");
            return;
        }
        var eq = _muscles.FirstOrDefault(e => e.Id == MuscleId);
        if (eq == null)
        {
            Toast.Error($"No Muscle Found with id {MuscleId}");
            return;
        }
        
        var ok = await ConfirmDialog.ShowAsync(
            new ConfirmRequest(
                "Delete Item", 
                $"Are You sure you want to delete Muscle '{eq.Name}' ? It can't be undone",
                "Delete", 
                "Cancel",
                true));
        
        Logger.Log(nameof(MuscleDisplayComponent), $"Confirmation {ok}");
        
        if (!ok)
        {
            Toast.Error($"Delete {eq.Name} Cancelled");
            return;
        }
        
        
        Result<MuscleDeleteOutcome> result = await Repo.DeleteMuscleAsync(new MuscleEntityId(MuscleId));
        if (!result.Success || result.Value is not { Outcome : DeleteOutcome.Deleted })
        {
            _error = true;
            _errorMessage = $"Unable to delete Muscle {MuscleId}: {result.GetErrorMessage()}";
            Logger.LogError(nameof(MuscleDisplayComponent), _errorMessage);
            Toast.Error(_errorMessage);
            return;
        }
        
        _error = false;
        _errorMessage = null;
        
        
        
        var success = $"Deleted Muscle {MuscleId}";
        Logger.Log(nameof(MuscleDisplayComponent), success);
        Toast.Success(success);
        
        _muscles = _muscles.Where(e => e.Id != MuscleId).ToArray();
    }

    
}

