
@using GainsLab.WebLayer.Model.Dropdown

<InputSelect class="@CssClass"
             disabled="@Disabled"
             @bind-Value="BoundValue">

    @if (!string.IsNullOrWhiteSpace(InitialValue) )
    {
        <option value="">@InitialValue</option>
    }

    @foreach (var item in Items)
    {
        <option value="@item.Value">@item.Label</option>
    }
</InputSelect>

@code {
   
    [Parameter] public string? Value { get; set; }
    [Parameter] public EventCallback<string?> ValueChanged { get; set; }

    [Parameter] public DropdownConfig? Config { get; set; } = null;

    private IEnumerable<DropdownItem> Items => Config?.Items ?? [];
    private string? InitialValue => Config?.InitialValue;
    private string CssClass => Config?.CssClass ?? "form-select";
    private bool Disabled => Config?.Disabled ?? false;
    
    private string? BoundValue
    {
        get => Value;
        set => ValueChanged.InvokeAsync(value);
    }
}