@using GainsLab.Application.DTOs
@using GainsLab.Application.Interfaces.Sync


@using GainsLab.Domain.Interfaces

@attribute [StreamRendering]

<h3>EquipmentDisplayComponent</h3>

<p>
    @if (_equipments == null)
    {
        @if (_error)
        {
            <p> @_errorMessage</p>
        }
        else
        {
            <p>
                <em>Loading...</em>
            </p>
        }

       
    }
    else
    {
        <table class="tableEquipment">
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th aria-label="Description">Desc</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var eq in _equipments)
            {
                <tr>
                    <td>@i</td>
                    <td>@eq.Name</td>
                    <td>@GetDescription(eq)</td>
                    <td>@eq.UpdatedAtUtc</td>
                </tr>
                i++;
            }
            </tbody>
        </table>
    }
</p>


@code
{
    private EquipmentRecord[]? _equipments = null;
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private IClock Clock { get; set; } = default!;
    [Inject] private IEntitySyncClient SyncClient { get; set; } = default!;
    
    
    private int i =1;
    private bool _error = false;
    private string? _errorMessage = null;

    protected override Task OnInitializedAsync()
    {
        Logger.Log("HomePage", $"Getting all equipments");
        
        base.OnInitializedAsync();

        return GetEquipments();


    }

    private async Task GetEquipments()
    {
        _equipments = null;

        var result = await SyncClient.GetAllEquipmentsRecordAsync();
        if (!result.Success)
        {
            _equipments = null;
            _error = true;
            _errorMessage = result.GetErrorMessage();
            return;
        }

        _equipments = !result.HasValue ? null : result.Value.ToArray();
    }

    private string GetDescription(EquipmentRecord eq)
    {
        return eq.Descriptor?.Content ?? "Description not found";
    }
}