
@using GainsLab.Application.Interfaces.DataManagement.Gateway
@using GainsLab.Application.Results
@using GainsLab.Contracts.Dtos.GetDto


@using GainsLab.Domain.Interfaces
@using GainsLab.WebLayer.Model


@attribute [StreamRendering]


<p>
    @if (_equipments == null)
    {
        @if (_error)
        {
            <p> @_errorMessage</p>
        }
        else
        {
            <p>
                <em>Loading...</em>
            </p>
        }

       
    }
    else
    {
        <table class="tableEquipment">
            <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th aria-label="Description">Desc</th>
                <th>Date Updated</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var eq in _equipments)
            {
               
                <tr>
            <EquipmentTableLine Index="i" Name="@eq.Name" Description="@GetDescription(eq)"  UpdatedAtUtc="@eq.UpdatedAtUtc.ToString()" Link="@GetEditLink(eq)"></EquipmentTableLine>

            
                </tr>
                i++;
            }
            </tbody>
        </table>
    }
</p>


@code
{
    private EquipmentGetDTO[]? _equipments = null;
    [Inject] private ILogger Logger { get; set; } = default!;
    [Inject] private IClock Clock { get; set; } = default!;
    [Inject] private IEquipmentGateway Repo { get; set; } = default!;
    
    
    private int i =1;
    private bool _error = false;
    private string? _errorMessage = null;

    protected override Task OnInitializedAsync()
    {
        Logger.Log("HomePage", $"Getting all equipments");
        
        base.OnInitializedAsync();

        return GetEquipments();


    }

    private async Task GetEquipments()
    {
        _equipments = null;

        Result<IReadOnlyList<EquipmentGetDTO>> result = await Repo.GetAllEquipmentsAsync();
        if (!result.Success)
        {
            _equipments = null;
            _error = true;
            _errorMessage = result.GetErrorMessage();
            return;
        }

        _equipments = !result.HasValue ? null : result.Value.ToArray();
    }

    private string GetDescription(EquipmentGetDTO eq)
    {
        return eq.Descriptor?.content ?? "Description not found";
    }

    private Link? GetEditLink(EquipmentGetDTO eq) =>new Link{Text = $" Edit: {eq.Name}", Page = $@"equipments/{eq.Id}"};
   
}